page-compra {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: top;
            font-weight: bold;
            text-align: center;
            color: #00001a;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
    ion-col.my-thin-col {
        flex: 0 0 4px;
        padding: 0;
        margin-top: 7px;
    }
}